@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
}

body {
    font-size: 62.2%;
}


.link-topo {
    background: #00639c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
}

.link-topo p {
    color: white;
    font-weight: 700;
}


.link-topo a i {
    font-size: .7rem;
    font-weight: 500;
    color: white;
    margin-right: 1rem;
}

.link-topo ul li a i:hover {
    font-weight: 600;
}

.fita-topo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.fita-topo .fita1 {
    width: 25%;
    border: 1px solid #00639c;
}

.fita-topo .fita2 {
    width: 25%;
    border: 1px solid #00d6d6;
}

.fita-topo .fita3 {
    width: 25%;
    border: 1px solid rgb(197, 0, 0);
}

.fita-topo .fita4 {
    width: 25%;
    border: 1px solid rgb(255, 251, 4);
}

.header div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(../imagem/papel\ amassado.png) no-repeat;
}

.header .logo img {
    width: 10rem;
}


.fita-azul {
    background: #00639c;
    width: 100%;
    padding: 1rem;
}

#inicio {
    position: relative;
    top: -1.3rem;
    left: 0;
    background: white;
    width: 95%;
    margin: auto;
    text-align: center;
    border-radius: .5rem;
}

#inicio h1 {
    font-size: 1.3rem;
    color: #00639c;
}

#inicio i {
    color: #313131;
}

#inicio img {
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: .5rem;
    margin: .5rem auto .5rem auto;
}

#inicio p {
    text-align: justify;
    width: 80%;
    margin: .8rem auto 0 auto;
}

#inicio .img-noticia {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: auto;
}

#inicio .img-noticia img {
    width: 8rem;
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #00639c;
    padding: .5rem;
}

.institucional {
    font-size: .8rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}

.institucional i {
    font-size: .6rem;
}

.contatos {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}

.contatos i {
    font-size: .6rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.endereco {
    font-size: .8rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}

.endereco i {
    font-size: .6rem;
}

.autor {
    background: #0073b6;
    color: white;
    font-size: .5rem;
    text-align: center;
}

/* BREAKPOINTS */

@media screen and (min-width: 600px) and (max-width: 760px) {
    /* .link-topo {
        background: yellowgreen;
    } */

    .link-topo p {
        font-size: .8rem;
    }

    .link-topo a i {
        font-size: .8rem;
    }

    #inicio h1 {
        font-size: 1.4rem;
    }

    #inicio i {
        font-size: .7rem;
    }

    #inicio img {
        width: 15rem;
    }

    #inicio p {
        font-size: .8rem;
        width: 75%;
        margin: .8rem auto 0 auto;
    }

    #inicio .img-noticia {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 90%;
        margin: auto;
    }

    #inicio .img-noticia img {
        width: 9rem;
    }
}

@media screen and (min-width: 760px) and (max-width: 920px) {
    /* .link-topo {
        background: red;
    } */

    .link-topo p {
        font-size: .8rem;
    }

    .link-topo a i {
        font-size: .8rem;
    }

    #inicio h1 {
        font-size: 1.6rem;
    }

    #inicio i {
        font-size: .8rem;
    }

    #inicio img {
        width: 18rem;
    }

    #inicio p {
        font-size: .9rem;
        width: 70%;
        margin: .8rem auto 0 auto;
    }

    #inicio .img-noticia {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 80%;
        margin: auto;
    }

    #inicio .img-noticia img {
        width: 10rem;
    }

    footer {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0;
    }

    .institucional {
        font-size: 1rem;
    }

    .institucional i {
        font-size: .7rem;
    }

    .contatos {
        font-size: 1rem;
    }

    .contatos i {
        margin-top: .7rem;
        font-size: .7rem;
    }

    .endereco {
        font-size: 1rem;
    }

    .endereco i {
        font-size: .6rem;
    }

    .autor {
        font-size: .7rem;
    }
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
    /* .link-topo {
        background: black;
    } */

    .link-topo p {
        font-size: .8rem;
    }

    .link-topo a i {
        font-size: .8rem;
    }

    #inicio h1 {
        font-size: 1.9rem;
    }

    #inicio i {
        font-size: .8rem;
    }

    #inicio img {
        width: 22rem;
    }

    #inicio p {
        font-size: .9rem;
        width: 70%;
        margin: .8rem auto 0 auto;
    }

    #inicio .img-noticia {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 85%;
        margin: auto;
    }

    #inicio .img-noticia img {
        width: 10rem;
    }

    footer {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0;
    }

    .institucional {
        font-size: 1rem;
    }

    .institucional i {
        font-size: .8rem;
    }

    .contatos {
        font-size: 1rem;
    }

    .contatos i {
        margin-top: .7rem;
        font-size: .8rem;
    }

    .endereco {
        font-size: 1rem;
    }

    .endereco i {
        font-size: .7rem;
    }

    .autor {
        font-size: .7rem;
    }
}

@media screen and (min-width: 1200px) {
    /* .link-topo {
        background: blue;
    } */

    .link-topo p {
        font-size: .8rem;
    }

    .link-topo a i {
        font-size: .8rem;
    }

    #inicio h1 {
        font-size: 2rem;
    }

    #inicio i {
        font-size: .8rem;
    }

    #inicio img {
        width: 25rem;
    }

    #inicio p {
        font-size: .9rem;
        width: 60%;
        margin: .8rem auto 0 auto;
    }

    #inicio .img-noticia {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 60%;
        margin: auto;
    }

    #inicio .img-noticia img {
        width: 12rem;
    }

    footer {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0;
    }

    .institucional {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }

    .institucional i {
        font-size: .8rem;
        margin-top: .7rem;
    }

    .contatos {
        font-size: 1rem;
    }

    .contatos i {
        margin-top: .7rem;
        font-size: .8rem;
    }

    .endereco {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }

    .endereco i {
        font-size: .8rem;
        margin-top: .7rem;
    }

    .autor {
        font-size: .7rem;
    }
}